.features-container-fluid {
    background-color: #EDF0F2;
    padding-top: 2rem;
    padding-bottom: 2.375rem;
    position: relative;
    z-index: 2;
  }
  
  .features-container {
    width: 70.31%;
    margin: 0 auto;
  }
  
  .features-title {
    @include square-tit;
    font-size: 1.25rem;
    letter-spacing: -1px;
    text-align: center;
    padding-bottom: 36px;
    margin: 0;
  }
  
  .features-item {
    width: 225px;
    height: 229px;
    background-color: #fff;
    text-align: center;
    position: relative;
    margin: 0 auto;
    margin-bottom: 2.375rem;
  }
  
  .features-item--1::before {
    content: '01';
    font-family: $mont;
    font-size: 50px;
    font-weight: 700;
    color: #fbfcfb;
    position: absolute;
    top: -35px;
    left: 173px;
    z-index: -5;
  }
  
  .features-item--2::before {
    content: '02';
    font-family: $mont;
    font-size: 50px;
    font-weight: 700;
    color: #fbfcfb;
    position: absolute;
    top: -35px;
    left: 163px;
    z-index: -5;
  }
  
  .features-item--3::before {
    content: '03';
    font-family: $mont;
    font-size: 50px;
    font-weight: 700;
    color: #fbfcfb;
    position: absolute;
    top: -35px;
    left: 163px;
    z-index: -5;
  }
  
  .features-item::after {
    content: '';
    display: block;
    background: $blue;
    position: absolute;
    top: 1.5rem;
    left: -13px;
    width: 60px;
    height: 3px;
    z-index: 2;
  }
  
  .box-shadow {
    position: absolute;
    background-color: #D8DBDD;
    left: -1.25rem;
    right: 1.25rem;
    top: 1.25rem;
    bottom: -1.25rem;
    opacity: .3;
    z-index: -2;
  }
  
  .features-item__text {
    @include describe-txt;
    margin: 0;
    padding-top: 2.5rem;
    font-size: 1rem;
    line-height: 22px;
  }
  
  .features-button__submit {
    width: 225px;
    height: 106px;
    background-color: $orange;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #fff;
    font-family: $acrom;
    font-weight: 800;
    text-align: center;
    padding: 0;
    border: none;
    transition: .5s;
    
  }
  
  .features-button__submit:hover {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
    box-shadow: inset 0 0  8px #fff;
    cursor: pointer;
  }