@media (min-width: 768px) {

     /* ---------------------- header section -------------------- */
    .container {
        max-width: 80.729%;
    }

    .header-container-fluid {
        height: 910px;
        margin-bottom: 50px;
    }

    .header {
        padding-top: 2.25rem;
      }

    .logo {
        margin-bottom: 28px;
    }

    .c-hero {
        justify-content: flex-start;
    }

    .c-hero__text--little {
        margin-right: 100px;
    }

    .c-hero__text--main  {
        font-size: 2.5rem;
        letter-spacing: -2px;
        margin-bottom: 28px;
        line-height: 45px;
    }

    .c-hero__text--title {
        font-size: 1.125rem;
        margin-bottom: 2rem;
        line-height: 24px;
    }

    .c-hero__text--date-title {
        font-size: 18px;
    }

    .c-hero__text--date {
        font-size: 2.5rem;
        margin-bottom: 28px;
    }

 /* ---------form-------- */

    .request-form {
        height: 396px;
    }

    .c-form {
        width: 75.48%;
        margin: 0 auto;
        margin-bottom: 2.1875rem;
      }

    .c-form__text--title {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 22px;
        padding-top: 2rem;
        text-align: center;
    }

    .c-form__text--subtitle {
        line-height: 1.5rem;
        text-align: center;
    }

    .header-form {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .header-form__input {
        width: 95.32%;
        height: 2.5rem;
        padding-left: 10px;
    }

    .header-form__input--name{
        margin-bottom: 0.8125rem;
      }

      .header-form__input--email {
        margin-bottom: 0.8125rem;
      }

    .header-form__input--number {
        margin-bottom: 26px;
    }

    /* -------button--------- */

    .header-form__submit {
        height: 2.5rem;
        width: 95.32%;
      }

/* ---------------- questions section ----------------- */

      .header-container-fluid {
          margin-bottom: 0;
      }

    .questions {
        width: 80.729%;
        margin: 0 auto;
  }

    .mb {
        margin-bottom: 60px;
  }

    .q-title__text {
        font-size: 1.875rem;
        line-height: 2.5rem;
  }

    .q-item__text {
        font-size: 1rem;
        line-height: 22px;
  }

/* ---------------- features section ----------------- */

    .features-container-fluid {
        padding-top: 50px;
        padding-bottom: 58px;
  }

    .features-container {
        width: 97.395%;
        padding-left: 1rem;
        padding-right: 1rem;
  }

    .features-title {
        font-size: 1.875rem;
        line-height: 2.5rem;
        padding-bottom: 54px;
  }

    .features-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
  }

    .features-item {
        width: 225px;
        margin-bottom: 36px;
  }

    .features-item--1::before {
        font-size: 70px;
        top: -52px;
        left: 156px;
  }
  
    .features-item--2::before {
        font-size: 70px;
        top: -52px;
        left: 138px;
  }
  
    .features-item--3::before {
        font-size: 70px;
        top: -52px;
        left: 140px;
  }

    .features-item::after {
        height: 2px;
  }

    .box-shadow {
        left: -15px;
        right: 15px;
        top: 15px;
        bottom: -15px;
  }

    .features-button {
        display: flex;
        justify-content: center;
  }

    .features-button__submit {
        width: 532px;
        height: 70px;
        font-size: 1.125rem;
  }
}


@media (min-width: 1170px) {

     /* ---------------------- header section -------------------- */
     .container {
        max-width: 104%;
        margin: 0;
    }

    .header-container-fluid {
        height: 945px;
        margin-bottom: 85px;
    }

    .header {
        padding-top: 36px;
        margin-left: 15px;
        margin-right: 0;
      }

    .logo {
        margin-bottom: 40px;
    }

    .flexbox {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .c-hero {
        padding-right: 1.875rem;
        max-width: 53,606%;
    }

    .c-hero__text--little {
        font-size: 1.25rem;
        margin: 0;
        line-height: 1.875rem;
    }

    .c-hero__text--main  {
        font-size: 60px;
        margin-bottom: 28px;
        line-height: 70px;
        letter-spacing: -3px;
    }

    .c-hero__text--title {
        font-size: 1.875rem;
        margin-bottom: 50px;
        line-height: 50px;
    }

    .c-hero__text--date-title {
        font-size: 29px;
      }

    .c-hero__text--date {
        font-size: 45px;
        margin: 0;
        margin-bottom: 1rem;
      }

      /* ---------form-------- */

    .request-form {
        max-width: 39,316%;
        height: 670px;
    }

    .c-form {
        width: 84.78%;
      }

    .c-form__text--title {
        font-size: 35px;
        padding-top: 42px;
        text-align: left;
        line-height: 42px;
    }

    .c-form__text--subtitle {
        font-size: 1.125rem;
        line-height: 28px;
        text-align: left;
        margin-bottom: 2rem;
    }

    .header-form__input {
        width: 390px;
        height: 58px;
        padding-left: 15px;
    }

    .header-form__input--name,
    .header-form__input--email {
        margin-bottom: 36px;
      }

    .header-form__input--number {
        margin-bottom: 2.375rem;
    }

    /* -------button--------- */

    .header-form__submit {
        height: 58px;
        width: 390px;
      }

      .c-form__text--policy {
        font-size: 17px;
      }

/* ---------------- questions section ----------------- */


    .questions {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
}

    .q-title {
        width: 42.99%;
    }

    .q-list {
        width: 47.435%;
    }

        .mb {
      margin-bottom: 80px;
}

        .q-title__text {
      font-size: 44px;
      line-height: 50px;
      margin-top: 0;
}

        .q-item__text {
      font-size: 18px;
      line-height: 30px;
}

/* ---------------- features section ----------------- */

.features-container-fluid {
    padding-top: 70px;
    padding-bottom: 96px;
}

.features-container {
    padding-left: 0;
    padding-right: 0;
}

.features-title {
    font-size: 44px;
    line-height: 50px;
    letter-spacing: -2px;
    padding-bottom: 102px;
}

.features-card {
    margin-bottom: 77px;
}

.features-item {
    width: 350px;
    height: 275px;
    margin-bottom: 0;
}

.features-item--1::before {
    font-size: 150px;
    top: -104px;
    left: 200px;
}

.features-item--2::before {
    font-size: 150px;
    top: -104px;
    left: 166px;
}

.features-item--3::before {
    font-size: 150px;
    top: -104px;
    left: 166px;
}

.features-item::after {
    top: 44px;
}

.features-item__text {
    font-size: 18px;
    line-height: 35px;
    padding-left: 27px;
    padding-right: 30px;
}

.features-button__submit {
    width: 810px;
    height: 109px;
    font-size: 25px;
}

}